.main_features {
	background-image: url(../images/main_features.jpg);
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: cover;
	padding: 60px 0;

	.title {
		font-size: 26px;
		color: #fff;

		@media ($phones) {
			br {
				display: none;
			}

			text-shadow: 0px 0px 3px #000;
		}
	}

	&__box {
		width: 692px;
		height: 447px;
		margin: 0 auto;
		position: relative;
		font-size: 18px;
		color: #404449;
		padding: 53px 0 0;
		margin-top: 32px;
		margin-bottom: 60px;

		@media (min-width: 751px) {
			background-image: url(../images/rounded.png);
			background-position: 50% 50%;
			background-repeat: no-repeat;
			background-size: cover;
		}

		@media ($phones) {
			background-color: #fff;
			border-radius: 0px 0px 50% 50% / 0px 0px 60px 60px;
			width: 500px;
			padding-left: 20px;
			padding-right: 20px;
			padding-bottom: 120px;
			height: auto;
			-webkit-filter: drop-shadow(0px 9px 27px rgba(0, 0, 0, 0.23));
			filter: drop-shadow(0px 9px 27px rgba(0, 0, 0, 0.23));
			margin-bottom: 90px;

			@media (max-width: 550px) {
				width: 100%;
			}

			br {
				display: none;
			}
		}

		p {
			line-height: 25px;
		}

		hr {
			width: 55px;
			margin: 23px auto;
			border: 0;
			border-bottom: 3px solid #DBE1E5;
		}

		.expiration-term {
			width: 180px;
			height: 180px;
			background-image: url(../images/claim.png);
			background-position: 50% 50%;
			background-repeat: no-repeat;
			background-size: 100%;
			position: absolute;
			bottom: 0px;
			left: 50%;
			margin-left: -90px;
			@extend %vertAlign;
			-webkit-filter: drop-shadow(0px 9px 27px rgba(0, 0, 0, 0.23));
			filter: drop-shadow(0px 9px 27px rgba(0, 0, 0, 0.23));

			@media ($phones) {
				bottom: -75px;

				br {
					display: inline;
				}
			}

			p {
				display: inline-block;
				vertical-align: middle;
				width: 95%;
				color: #fff;
				margin-left: -2px;
				font-size: 20px;
				text-transform: uppercase;
				font-family: $mcm;
			}
		}
	}

	.button {
		margin-top: 22px;
	}
}