.main_features {
	background-image: url(../images/main_features.jpg);
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: cover;
	padding: 60px 0;

	.title {
		font-size: 26px;
		color: #fff;
	}

	&__box {
		width: 692px;
		height: 447px;
		background-image: url(../images/rounded.png);
		background-position: 50% 50%;
		background-repeat: no-repeat;
		background-size: cover;
		margin: 0 auto;
		position: relative;
		font-size: 18px;
		color: #404449;
		padding: 53px 0 0;
		margin-top: 32px;
		margin-bottom: 60px;

		p {
			line-height: 25px;
		}

		hr {
			width: 55px;
			margin: 23px auto;
			border: 0;
			border-bottom: 3px solid #DBE1E5;
		}

		.expiration-term {
			width: 180px;
			height: 180px;
			background-image: url(../images/claim.png);
			background-position: 50% 50%;
			background-repeat: no-repeat;
			background-size: 100%;
			position: absolute;
			bottom: 0px;
			left: 50%;
			margin-left: -90px;
			@extend %vertAlign;

			p {
				display: inline-block;
				vertical-align: middle;
				width: 95%;
				color: #fff;
				margin-left: -2px;
				font-size: 20px;
				text-transform: uppercase;
				font-family: $mcm;
			}
		}
	}

	.button {
		margin-top: 22px;
	}
}