.quality {
	
	padding-top: 60px;

	@media (min-width: 1001px) {
		background-image: url(../images/quality.jpg);
		background-repeat: no-repeat;
		background-position: 50% 50%;
		background-size: cover;
	}

	@media ($tablets) {
		& {
			background-image: url(../images/quality_mini.jpg);
			background-repeat: no-repeat;
			background-position: 50% 50%;
			background-size: cover;
		}
	}

	h2 {
		font-family: $mcm;

		@media (max-width: 500px) {
			text-transform: uppercase;
		}
	}

	ul {
		margin: 0;
		padding-left: 200px;
		margin-top: 70px;
		counter-reset: count;

		@media ($tablets) {
			padding-left: 0;
			width: 80%;
			display: block;
			margin-left: auto;
			margin-right: auto;
		}

		@media (max-width: 500px) {
			width: 100%;
		}

		li {
			padding-left: 80px;
			position: relative;
			list-style: none;
			text-align: left;
			height: 90px;
			@extend %vertAlign;
			counter-increment: count;
			font-size: 18px;

			@media ($phones) {
				height: auto;
				margin: 35px 0;
				padding-left: 50px;
			}



			&:nth-child(2),
			&:nth-child(4) {
				margin-left: 25px;
				@media ($tablets) {
					margin-left: 0;
				}
			}
			&:nth-child(3) {
				margin-left: 42px;
				@media ($tablets) {
					margin-left: 0;
				}
			}

			&:after {
				content: counter(count);
				width: 50px;
				height: 50px;
				line-height: 50px;
				text-align: center;
				font-size: 16px;
				font-family: $mcb;
				margin-top: -25px;
				top: 50%;
				left: 0;
				border-radius: 50%;
				background-color: #fff;
				color: #000;
				position: absolute;

				@media (max-width: 500px) {
					width: 40px;
					height: 40px;
					line-height: 40px;
					margin-top: -20px;
				}
			}

			span {
				display: inline-block;
				margin: 0 -2px;
				vertical-align: middle;
			}
		}
	}
}