@import 'mixfonset/reset';
@import 'plugins/slick';
@import 'plugins/slick-theme';
@import 'plugins/magnific-popup';
@import 'mixfonset/mixins';
@import 'mixfonset/fonts';
@import 'mixfonset/settings';
@import 'buttons';




/*

CSS clearfix----------  @extend %clearfix;

CSS vertical align 
with before  ---------  @extend %clearfix;

CSS position----------  @include position(absolute, auto, 0, auto, 0);

CSS transition--------  @include transition(all, .2s);
CSS transform---------  @include transform(rotate(45deg));
CSS animation---------  @include animation($name, $duration: 1000ms, $iterations: infinite, $timing-function: ease, $delay: 0ms);

CSS FLEX--------------  @include flex($alignI: center, $justify: space-between,  $direction: row, $wrap: nowrap);	  
CSS FLEX direction----  @include flexDirection(column);
  
CSS Triangle----------  @include triangle(left, $size: 6px, $color: #222);
CSS text ending ------  @include textEnd($overflow: ellipsis); // values are: clip, ellipsis, or a string
CSS tooltip-----------  @include tooltiptooltip($content: attr(data-tooltip), $direction: top);


*/

h1 {
    font: 55px $mcb;
    + span {
        font: 30px $mcl;
    }
}
h2 {
    font: 30px $mc;
}
section {
    padding: 70px 0 60px;
}

/*.................media.............*/
    @include m1300 {
        h1 {
            font-size: 46px;
            + span {
                font-size: 24px;
            }
        }
        h2 {
            font-size: 28px;
        }
    }
    @include m1000 {
        h1 {
            font-size: 42px;
            + span {
                font-size: 20px;
            }
        }
    }
    @include m800 {
        h1 {
            font-size: 36px;
        }
        h2 {
            font-size: 26px;
        }
    }
    @include m600 {
        h1 {
            font-size: 32px;
        }
        h2 {
            font-size: 24px;
        }
    }
    @include m500 {
        h1 {
            font-size: 28px;
            + span {
                font-size: 18px;
            }
        }
    }
    @include m500 {
        h1 {
            font-size: 24px;
            + span {
                font-size: 16px;
            }
        }
        h2 {
            font-size: 20px;
        }
    }
    /*..............end.media.............*/


/*=====================================================================================*/
/*  HEADER STYLES  */ 
         
header {
    @include position(absolute, 0, auto, auto, 0);
    width: 100%;
    z-index: 100;
    background: transparent;
    margin: 0;
    @include transition(all, .4s);
    
        /*.................media.............*/
        @include m800 {
            @include position(fixed, 0, auto, auto, -100%);
            width: 260px !important;
            height: 100%;
            text-align: center;
            background-color: rgba(0, 0, 0, 0.95);
            margin-top: 0;
            padding: 20px 0;
            z-index: 100;
            overflow: scroll;
             
            &.active { left: 0;}
            .wrapper {
                   @include flexDirection(column);
                   width: 100%;
            }
        }
        /*.............end media..............*/
        
    .header__info {
        padding: 35px 0;
        @media (max-height: 500px) {
            padding-bottom: 10px;
        }
        .wrapper {
            @include flex();  
            
            /*.................media.............*/
            @include m800 {
                -webkit-flex-direction: column;
                    -ms-flex-direction: column;
                        flex-direction: column;
            }
            /*.............end media..............*/ 
        }
        &__text {
            font: 25px $mcb;
        }
    }
}


.tel {
    font: 35px $mcl;
    span {
        font-family: $mcm;
        color: $red;
    }

        /*.................media.............*/
        @include m800 {
            font-size: 26px;
            margin-top: 30px;
            display: block;
        }
        /*..............end.media.............*/
}
.mail {
    font: 16px $mcm;
    color: $red;
    text-transform: none !important;
}


/* ------------------------------------ */
/*  LOGO STYLES  */

.logo {
    position: relative;
    display: block;
    & img {
        height: 100%;
        display: inline-block;
        vertical-align: middle;   
    }
    & p {
        display: inline-block;
        vertical-align: middle;
        padding-left: 18px;
        text-transform: uppercase;
        text-align: left;
        padding-top: 6px;
        span{
         display: inline-block;
        }
        strong {
            color: #000;
            text-transform: none;
            display: block;
            margin-top: 5px;
            padding-left: 2px;
        }
    }
}


/* ------------------------------------ */
/*  NAV STYLES  */
nav {
    height: 50px;
    background-color: rgba(0, 0, 0, 0.8);
    @media (min-width: 801px) {
         &.hasScrolled {
            position: fixed;
            width: 100%;
            left: 0;
            top: 0;
        }   
    }
    ul {
        @include flex();
        list-style-type: none;
        
            /*.................media.............*/
            @include m800 { 
                display: block;
                height: 100%;
                overflow: scroll;
                position: relative;
                height: auto;
            }
            /*.............end media.............*/

        li {
            height: 100%;
            a {
                display: inline-block;
                text-decoration: none;
                color: #FFF;
                height: 100%;
                text-transform: uppercase;
                padding: 0 4px;
                font: 14px/50px $mcm;
                @include transition(all, .2s);             
                &:hover,
                &.active {color: $red;}

                    /*.................media.............*/
                    @include m1000 {
                        font-size: 13px;
                    }
                    /*..............end.media.............*/
            }
        }
    }
}



/* ------------------------------------ */
/*  MENU BUTTON  */

.menu-button     {    
    display: none;
    width: 50px;
    height: 50px;
    @include position(fixed, 10px, 7px, auto, auto);
    margin: auto; 
    cursor: pointer;
    z-index: 100;
    background-color: $red;
    border: none;
    -webkit-border-radius: 4px;
            border-radius: 4px;
    .menu-line {
        display: block;
        @include position(absolute, auto, 0, auto, 0);
        width: 60%;
        height: 5px;
        background-color: #fff;
        -webkit-border-radius: 1px;
        border-radius: 1px;
        @include transition(all, .4s);
    }

    .top_line              {   top: 12px;  margin: auto;}
    .middle_line           {   top: 22px;  margin: auto;}
    .bottom_line           {   bottom: 12px; margin: auto;}

    &.active               {   -webkit-border-radius: 6px; border-radius: 6px;}
    &.active .top_line     {   @include transform(rotate(45deg)); top: 45%;}
    &.active .bottom_line  {   @include transform(rotate(-45deg)); bottom: 45%;}
    &.active .middle_line  {   width: 0; left: 50%;}

        /*.................media.............*/
        @include m800 {
            display: block;
        }
        /*..............end media.............*/

}





/*=====================================================================================*/
/*  OFFER STYLES  */ 


.offer {
    background-size: 100% auto;
    padding: 175px 0 0 0;
    position: relative;
    background-color: #000;
    
    /*.................media.............*/
    @media (min-width: 850px) {
        background: #000 url('../images/offer.jpg') no-repeat center top;
    }
    @media (max-width: 850px) {
        background: #000 url('../images/offer_m.jpg') no-repeat center top;
    }
    @include m1600 {
        background-size: 120% auto;
    }
    @include m1300 {
        background-size: cover;
    }
    @include m800 {
        padding-top: 20px;
        background-size: 150% auto;
    }
    /*..............end.media.............*/

    .offerInfo {
        @include flex($alignI: center, $justify: space-around, $direction: column);
        z-index: 2;
        position: relative;
        text-align: center;
        
        .logo {
            margin-top: 35px;
            /*.................media.............*/
            @include m600 {
                width: 240px;
                img {
                    width: 100%;
                }
            }
            /*..............end.media.............*/
        }
        h1 {
            margin-top: 20px;
            + span {
                margin-top: 20px;
            }
        }
        .button {
            margin: 30px auto 50px;
        }
    }

}

.stores {
    margin-top: 30px;
    @include flex($alignI: center, $justify: center, $wrap: wrap);
    img {
        margin: 0 10px 15px;
    }
    /*.................media.............*/
    @include m600 {
        margin-top: 20px;
        img {
            width: 200px;
        }
    }
    /*..............end.media.............*/
}



/*=====================================================================================*/
/*  BIg BG STYLES  */ 

.bigBg {
    background-color: #000;
    /*.................media.............*/
    @media (min-width: 1200px) {
        background-image: url("../images/bigBgLeft.jpg"),url("../images/bigBgRight.jpg");
        background-repeat: repeat-y, repeat-y;
        background-position: left top, right top;
        @include m1600 {
        background-size: 20%;
        }
        @include m1300 {
            background-size: 20%;
        }
    }
    /*..............end.media.............*/

    .wrapper:nth-of-type(1) {
        padding-top: 60px;
    }
}



/* ------------------------------------ */
/*  УНИКАЛЬНЫЕ  */
.uniqueRecipes {
    .row {
        @include flex($alignI: top, $justify: center, $wrap : wrap);
        &:nth-of-type(2n) {margin-top: -70px;}
        img {
            @include m1600 {
                width: 300px;
                height: 370px;
            }
        }
        /*.................media.............*/
        @include m1000 {
            img:nth-of-type(3n),
            &:nth-of-type(2n) {
                margin-top: -90px;
            }
        }
        @include m750 {
            -webkit-flex-direction: column;
                -ms-flex-direction: column;
                    flex-direction: column;
            img {
                margin: -90px auto 0;
                display: block;
                &:nth-of-type(1) {
                    margin-top: 0;
                }
            }
        }
        /*..............end.media.............*/
    }
}



/* ------------------------------------ */
/*  РЕЦЕПТ БЛЮДА  */

.uniqueRecipes__big {
    padding: 55px 0 360px;
    background-repeat: no-repeat;
    background-position: 0 0, 100% 100%;
    text-align: right;
    &__info {
        width: 470px;
        display: inline-block;
        text-align: center;
        h3 {
            font: 30px $mcm;
            &:after {
                display: block;
                content: "";
                margin: 20px auto;
                border-top: 3px solid #fff;
                width: 50px;
            }
        }
        p {
            font: 18px/25px $mcl;
        }

        @include m500 {
            width: 100%;
            h3 {
                font-size: 24px;
                padding: 0 10px;
            }
            p {
                font-size: 16px;
                height: 22px;
                padding: 0 10px;
            }
        }
    }
        /*.................media.............*/
        @include m1000 {
            text-align: center;
            background-size: auto 150px, auto 220px;
            padding-bottom: 230px; padding-top: 80px;
            h3 {
                text-shadow: 0 0 7px #000;
            }
        }
        @include m500 {
            text-align: center;
            background-size: auto 120px, auto 150px;
            padding-bottom: 160px; padding-top: 60px;
            border-bottom: 2px solid #fff;
        }
        /*..............end.media.............*/
}



/* ------------------------------------ */
/*  ЗАИНТЕРЕСОВАЛ ПРОДУКТ?  */
.interested {
    font: 30px $mcm;
    margin-bottom: 25px;
    display: block;
    text-align: center;
    margin-top: 70px;
    + .button {
        display: block;
        margin:  0 auto;
    }
}



/* ------------------------------------ */
/*  ИНГРЕДИЕНТЫ  */

.ingredients {
    margin-top: 45px;
    h2 {
        margin-bottom: 35px;
    }
    &__item {
        @include flex($alignI: start, $wrap: wrap);
        margin-bottom: 24px;
        &__img {
            width: 160px;
            -webkit-box-shadow: -12px 12px 20px rgba(0,0,0, .8);
                    box-shadow: -12px 12px 20px rgba(0,0,0, .8);
            img {
                width: 100%;
            }
        }
        &__info {
            text-align: left;
            padding-left: 16px;
            width: calc(100% - 170px);
            h3 {
                text-transform: uppercase;
                font-family: $mcm;
                font-size: 16px;
                margin-bottom: 4px;
            }
            p {
                font-family: $mcl;
            }
        }

        /*.................media.............*/
        @include m600 {
            h3 {
                font-size: 14px;
            }
            p {
                font-size: 14px;
            }
        }
        @include m500 {
            &__img {
                display: block;
                margin: 0 auto 20px;
            }
            &__info {
                width: 100%;
            }
        }
        /*..............end.media.............*/
    }
    &__about {
        width: 49%;
        background-color: $red;
        padding: 0 30px 0 100px;
        float: left;
        height: 85px;
        margin-top: 75px;
        background-image: url("../images/about_1.png");
        background-repeat: no-repeat;
        background-position: 5% 50%;
        -webkit-border-radius: 4px;
                border-radius: 4px;
        &:before {
            display: inline-block;
            height: 100%;
            content: "";
            vertical-align: middle;
        }
        &:nth-of-type(2n) {
            margin-left: 2%;
            background-image: url("../images/about_2.png");
            background-position: 6% 50%;
            float: right;
        }
         /*.................media.............*/
        @include m1000 {
            padding: 0 20px 0 90px;
        }
        @include m750 {
            float: none;
            width: 100%;
            margin: 10px auto;
            height: auto;
            min-height: 85px;
            padding: 10px 20px 20px 90px;
            &:nth-of-type(2n){
                float: none;
                margin: 10px auto;
            }
        }
        /*..............end.media.............*/
        &--green {
            background-color: $green;
        }
        p {
            display: inline-block;
            vertical-align: middle;
            text-align: left;
            font: 14px $mc;
            max-width: 98%;
        }
        + br {
            clear: both;
        }
    }
}




/*=====================================================================================*/
/*  ПРОЦЕСС ПРОИЗВОДСТВА  */ 

.processSection {
    background-image: url("../images/process_bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.process {  
    @include flex($justify: center, $wrap: wrap, $alignI: top);
    margin-top: 60px;
    &__item {
        width: 180px;
        margin: 0 27px 40px;
        counter-increment: list;
        position: relative;
        &__img {
            width: 180px;
            height: 180px;
            border: 3px solid #fff;
            padding: 10px;
            margin-bottom: 25px;
            -webkit-border-radius: 50%;
                    border-radius: 50%;
            img {
                display: block;
                margin: 0 auto;
                width: 100%;
                height: 100%;
                -webkit-border-radius: 50%;
                        border-radius: 50%;
            }
        }
        p {
            font: 16px $mc;
            text-align: center;
            width: 120%;
            margin-left: -10%;
        }
        &:after {
            position: absolute;
            display: block;
            top: 0;
            right: 16px;
            content: counter(list);
            width: 50px;
            height: 50px;
            font: 25px/50px $mcb;
            background-color: $red;
            -webkit-border-radius: 50%;
                    border-radius: 50%;
        }
    }
}

/* ------------------------------------ */
/*  ИНГРЕДИЕНТЫ  */

/*.................media.............*/
/*..............end.media.............*/



@import 'advantages';
@import 'main-features';
@import 'map';
@import 'footer';
