// COLORS
// ---------------------------
$green: 		#00964B;
$red:			#e22326;

// FONTS
// ---------------------------
$mcl:			'museo_cyrillic300';
$mc:			'museo_cyrillic500';
$mcm:			'museo_cyrillic700';
$mcb:			'museo_cyrillic900';


// RESPONSIVE
// ---------------------------
$tablets:		'max-width: 1000px';
$phones:		'max-width: 750px';


// TYPOGRAPHIC
// ---------------------------
html, body                    	{   height: 100%;}
body 							{	font-family: $mc; color: #fff;}
p                             	{   }
h1, h2, h3, h4, h5 	         	{   font-weight: normal;}




// lAYOUT
// ---------------------------

.wrapper {
	width: 980px;
	margin: 0 auto;
	text-align: center;
	@media (max-width: 1000px) {
		width: 100%;
		padding: 0 10px;
	}

	&.wrapper--wide {
		width: 1200px;
		@media (max-width: 1200px) {
			width: 100%;
			padding: 0 10px;
		}
	}
}
                              	
header 							{}
aside 							{}
main 							{}
footer 							{}